In [1]:
#data types &variables
#variable is reference to object in memory
x=10
print(type(x))

<class 'int'>

In [3]:
#id is reference to object location in memory
i = 20
j=i 
print(i,j)                #same location
print(id(i),id(j))

20 20
1753577778064 1753577778064

In [5]:
#take input from user
#input always return string even if you enter int
var1= input("enter first name")
print(var1,type(var1))

enter first namemai
mai <class 'str'>

In [6]:
#conversion
var1= int(input("enter your age"))
print(var1,type(var1))

enter your age22
22 <class 'int'>

In [8]:
#numbers data types (int,float,complex(2+2j))
#operators (+,-,/-->float division,//-->integer division,%,**)
print(2/3)
print(2//3)

0.6666666666666666
0

In [9]:
#augmented assignment operator(+=,-=,*=,/=,//=,%=,**=)
x=10
x+=10
x

20

In [19]:
#convert decimal to hexa or binary
x=56
print(bin(x))
print(hex(x))
print(oct(x))
print(type(oct(x)))    #return string
print(int(0x38))  #decimal

0b111000
0x38
0o70
<class 'str'>
56

In [23]:
#2- strings('',""),if you want to show "" put \ before
str1="she said that\"iam so intelligence\""
str1

'she said that"iam so intelligence"'

In [29]:
# str operations(concatenate(+), indexing,slicing)
#concatenate(+)
s1="hello"
s2="world"
s3=s1+s2
print(s3)
s4=s1*3     #repeat more than one time
print(s4)
#indexing
print(s1[0])
#slicing
print(s1[0:3])

helloworld
hellohellohello
h
hel

In [30]:
s1[2]="x"   #string is immutable cannot change value
s1+="world"
s1

TypeError: 'str' object does not support item assignment

In [32]:
s1+="world"
print(id(s1))

1753659862064

In [38]:
# char of number
x=65
print(chr(x))
#num of char
print(ord('A'))
print(ord('a'))

A
65
97

In [80]:
#string operators (in ,not in ,==(comparsion),>,)is alphanumeric--->contain str&digits and not have space 
#is alpha---->only letters, is digit--->only digits ,is identifier, is lower-->all letter small , is upper , is space--->contain space
#search-->specific char , replace("",""), ends with("word","letter"),starts with("word","letter"), count--> how many letter found
#find("","")---->retun firist index , rfind--->highest index
x="MAi HuSSein"
print('i' in x)
print('i' not in x)
print( x.replace("i","e"))
#print( x.endswith("HuSSein","e"))
#print( x.startswith("HuSSein","e"))
print(x.count("S"))
print(x.find("S"))
print(x.rfind("S"))
print("----------------------------")
#conversion   (captalize---> first letter capital, lower--->all letter small, upper ----> all capital)
#(tittle --->first letter from each word capital , swapcase---> switch capital to small and small to capita;l)
x="MAi HuSSein"
print(x.lower())
print(x.capitalize())
print(x.upper())
print(x.title())
print(x.swapcase())

True
False
MAe HuSSeen
2
6
7
----------------------------
mai hussein
Mai hussein
MAI HUSSEIN
Mai Hussein
maI hUssEIN

In [84]:
#list collection of items from different types
list1=[1,2,3,4,5,6]
l2=list()      #empty list
l3=list([1,2,3,8,6]) 
l4=list("python")      #list for letters
print(list1[0])              #acess item
print(list1[-1])              #last item
print(l3[0:4])             #slicing
print(l4[2:])

1
6
[1, 2, 3, 8]
['t', 'h', 'o', 'n']

In [87]:
#list operations (in ,not in ,concatenation(+) ,len(),min(),max(),sum())
print(2 in list1)
print(list1+l3)
print(len(l3))
print(max(l3))
print(min(l3))
print(sum(l3))            #sum all element in list

True
[1, 2, 3, 4, 5, 6, 1, 2, 3, 8, 6]
5
8
1
20

In [109]:
#append()-->add 1 item , extent()--> add group of items, insert(index,element)-->add item in specific place
#remove(),sort(), reversre(), pop()-->last item, count(),copy(),clear(),delete()
lista=[1,2,3,4,5,6,8,9,6,2,5]
print(lista.append(3))
print(lista)
print(lista.extend([3,5,9,7]))
print(lista)
print(lista.insert(3,10))
print(lista)
print(lista.remove(3))     #1st item
print(lista)
print(lista.pop())    #last
print(lista)
print(lista.pop(4))   #index
print(lista)
print(lista.count(6))
print(lista.sort())
print(lista)
print(lista.reverse())
print(lista)
mylist=lista.copy()
print(mylist)
mylist.clear()    #find list but empty
print(mylist)
del(mylist)    #delete list
print(mylist)

None
[1, 2, 3, 4, 5, 6, 8, 9, 6, 2, 5, 3]
None
[1, 2, 3, 4, 5, 6, 8, 9, 6, 2, 5, 3, 3, 5, 9, 7]
None
[1, 2, 3, 10, 4, 5, 6, 8, 9, 6, 2, 5, 3, 3, 5, 9, 7]
None
[1, 2, 10, 4, 5, 6, 8, 9, 6, 2, 5, 3, 3, 5, 9, 7]
7
[1, 2, 10, 4, 5, 6, 8, 9, 6, 2, 5, 3, 3, 5, 9]
5
[1, 2, 10, 4, 6, 8, 9, 6, 2, 5, 3, 3, 5, 9]
2
None
[1, 2, 2, 3, 3, 4, 5, 5, 6, 6, 8, 9, 9, 10]
None
[10, 9, 9, 8, 6, 6, 5, 5, 4, 3, 3, 2, 2, 1]
[10, 9, 9, 8, 6, 6, 5, 5, 4, 3, 3, 2, 2, 1]
[]

NameError: name 'mylist' is not defined

In [102]:
#complex list 
l1=[[1,2,3],[4,5,6],[7,8,9]]
name=l1[0]
print(name)
print(l1[0][1])

[1, 2, 3]
2

In [113]:
#Tuples : collection of items (different data types) once created you cannot change(add or delete ) /immutable
t1=(1,)  # 1 item
t2=(1,2,3,4,5)
t3=tuple([1,3,6,8,9])
#t4=tuple(4,)     #TypeError: 'int' object is not iterable
t5=tuple("python")
print(t1[0])
t1[1]=100             #TypeError: 'tuple' object does not support item assignment

1

TypeError: 'tuple' object does not support item assignment

In [114]:
#tuple functions: max(),min(),sum(),len(), in ,not in,+concatenate
print(2 in t2)
print(t2+t3)
print(len(t3))
print(max(t3))
print(min(t3))
print(sum(t3))

True
(1, 2, 3, 4, 5, 1, 3, 6, 8, 9)
5
9
1
27

In [115]:
#nested tuples
t6=((1,3,5),(4,6),(8,9))
print(t6[0])
print(t6[0][1])

(1, 3, 5)
3

In [118]:
for i in t6:
    print(i,end="\n")

(1, 3, 5)
(4, 6)
(8, 9)

In [119]:
for i in t6[0]:
    print(i,end="\n")

1
3
5

In [124]:
#change tuple to list       now you can change or add item
x=("volvo","kia","toyota")
y=list(x)
print(y)
y[1]="BM"
print(y)
x= tuple(y)
print(x)

['volvo', 'kia', 'toyota']
['volvo', 'BM', 'toyota']
('volvo', 'BM', 'toyota')

In [128]:
#set : un ordered, un indexed , changable
my_set={"mai","mona","hend","hager"}
my_set.add("kareem")
print(my_set)            #show with any order
my_set.remove("hend")
print(my_set)

{'kareem', 'mai', 'hend', 'mona', 'hager'}
{'kareem', 'mai', 'mona', 'hager'}

In [143]:
#dictionaries:  key:value
dict1={"name":"mai",
       "age":22,
       "dept":"bio"}
print(dict1)
#methods : pop(lkey),get(key), in ,not in ,len(),==
#acess value
print(dict1.get("name"))
#add 
dict1["fav.color"]="black"
print(dict1)
#remove
dict1.pop("fav.color")
print(dict1)
#dict1.pop("fav.color")     #not exist  system error
print(dict1.get("fav.color","not exist"))
print(dict1.keys())
print(dict1.values())
dict2=dict1.copy()
print(dict2)
dict2.clear()
print(dict2)
del(dict1["name"])
print(dict1)
del(dict2)
print(dict2)

{'name': 'mai', 'age': 22, 'dept': 'bio'}
mai
{'name': 'mai', 'age': 22, 'dept': 'bio', 'fav.color': 'black'}
{'name': 'mai', 'age': 22, 'dept': 'bio'}
not exist
dict_keys(['name', 'age', 'dept'])
dict_values(['mai', 22, 'bio'])
{'name': 'mai', 'age': 22, 'dept': 'bio'}
{}
{'age': 22, 'dept': 'bio'}

NameError: name 'dict2' is not defined

In [144]:
#loops in dict
for k in dict1:
    print(k)

age
dept

In [146]:
for k in dict1:
    print(k,dict1[k])

age 22
dept bio

In [149]:
#nested dictionary
my_students={
    "student1":{
        "name":"mai",
        "age":22,
        "course":"python"
    },
    "student2":{
        "name":"mona",
        "age":24,
        "course":"c#"
    },
    "student3":{
        "name":"marwa",
        "age":28,
        "course":"marketing"
    }
}
print(my_students.get("student3"))

{'name': 'marwa', 'age': 28, 'course': 'marketing'}

In [150]:
# if statement    2 conditions
num= int(input("enter number:"))
if num%2==0:
    print("even")
else:
    print("odd")

enter number:15
odd

In [151]:
# if statement     more than 2 conditions
mark= int(input("enter number:"))
if mark>=90:
    print("excellent")
elif mark<90 and mark>=75:
    print("V.Good")
elif mark<70 and mark>=65:
    print("Good")
elif mark<65 and mark>=60:
    print("pass")
else:
    print("invalid")

enter number:100
excellent

In [154]:
#ternary if 
a=50
b=20
max1  =a if(a>b) else b
max1

50

In [163]:
a=33
b=33
if b>a:
    print("b is bigger than a")
elif b==a:
    print("b is equal a")
else:
    print("other wise")

b is equal a

In [164]:
a=200
b=33
c=500
if a>b and c>a :
    print("both conditions are true")
else:
    print("False")

both conditions are true

In [155]:
#nested if 
num= int(input("enter number:"))
if num>0:
    if num%2==0:
        print("even")
    else:
        print("odd")
else:
    print("invalid")

enter number:-3
invalid

In [156]:
#control statement : loops
#for loop
for i in range(10):  #range(min:max-1) ,   range(min ,max, step)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [157]:
for i in range(0,10,3):  #range(min:max-1) ,   range(min ,max, step)
    print(i)

0
3
6
9

In [160]:
#while  condition---->do statement---->incre
count=0
while count<10:
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9

In [162]:
#continue &break
count=0
while count<10:
    count+=1
    if count==5:
        continue      #
    elif count==8:
        break      #exit loop 
    print(count)

1
2
3
4
6
7

In [165]:
i = 1 #inital counter 
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [166]:
i = 1 #inital counter 
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [169]:
i = 1 #inital counter 
while i<7:  
    if i==3:
        continue
    i+=1
    print(i)        #infinite loop

2
3

KeyboardInterrupt:

In [170]:
i = 1 #inital counter 
while i<7:
    i+=1
    if i==3:
        continue 
    print(i)

2
4
5
6
7

In [171]:
fruits=["apple","orange","mango"]
for x in fruits:
    print(x)

apple
orange
mango

In [172]:
fruits=["apple","orange","mango"]
for x in fruits:
    print(x)
    if x=="orange":
        break

apple
orange

In [173]:
fruits=["apple","orange","mango"]
for x in fruits:
    if x=="orange":
        break
    print(x)

apple

In [185]:
# function no params
def my_function():
    print("hello world!")
my_function()

hello world!

In [187]:
#2 params
def student(fname,lname):
    print(fname+" "+lname)
student("mai","hussein")

mai hussein

In [188]:
def course(*students):     # *-->like list
    print(students[1])
course("Ahmed","heba","sara","hager")

heba

In [189]:
def course(*students):     # *-->like list
    for i in students:
        print(i)
course("Ahmed","heba","sara","hager")

Ahmed
heba
sara
hager

In [199]:
def myfunction(**student):     # *-->like dictionary
    print(student["fname"])
myfunction(fname="mai",age=22,lname="hussein")

mai

In [174]:
#functions: set of state which perform specific task and recall any time
def sum(start,end):
    result=0
    for i in range(start,end+1):
        result+=1
    return result
sum(10,50)

41

In [176]:
def bigger(a,b):
    if a>b:
        return a,b 
    else:
        return b,a
results = bigger(10,30)
print(results)
print(type(results))

(30, 10)
<class 'tuple'>

In [178]:
#global &local variables
#local: cannot acess or modify outside function
#global: defined outside
def func():
    s="hello" #local
    print(s)
print(s)

NameError: name 's' is not defined

In [179]:
def func():
    print(s)
s="hello"    #global
func()

hello

In [180]:
def func():
    print(s)
    s="hello"
    print(s)       
s="welcome"
func()       #2 variables with same name

UnboundLocalError: local variable 's' referenced before assignment

In [182]:
#recursive function: recall its self
def fact(n):
    if n==1:
        return 1    
    else:
        return(n*fact(n-1))
print(fact(4))

24

In [183]:
#function in function
def f():
    def g():
        print("it is g ")
        print("hi")
    print("it is f")
    print("hello")
    g()
f()

it is f
hello
it is g
hi

In [206]:
x= int(input("enter firist num"))
y= int(input("enter second num"))
op=input("enter sign")
def summ():
    z=x+y
    print(z)
def sub():
    z=x-y
    print(z)
def mult():
    z=x*y
    print(z)
def div():
    z=x/y
    if y==0:
        print("undefined")
    else:
        print(z)
if op=="+":
    summ()
elif op=="-":
    sub()
elif op=="*":
    mult()
elif op=="/":
    div()

enter firist num3
enter second num4
enter sign*
12